@media (max-width: 767px) {
    .menu {
        position: relative;
        top: -300px;
        border-radius: 12px;
        background: #bbb;
        opacity: 0.9;
    }
    
    .inputHalf {
        width: 25%;
     }
    
     form{
        display: flex;
        justify-content: center;
        align-items: baseline;
     }
}

@Media (min-width: 768px) {
    .menu {
        position: relative;
        top: -100px;
        border-radius: 12px;
        background: #bbb;
        opacity: 0.9;
    }

    .inputHalf {
        width: 50%;
     }

     form{}
}

hr.dashed {
    border-top: 3px dashed #bbb;
  }

.alignDisplay {
    /* flex: 0 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.displayItem {
    padding-left: 50px;
}

.clickOutsideListener {
    display: flex;
    justify-content: center;
    position: relative;
    left: 25%;
}
 
  